html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background: #c8dad3;
}

/* Introduction text area-----------------------------------------*/

.header-text {
    font-weight: bolder;

}

a:link {
    color: #007065;
    background-color: transparent; 
    text-decoration: none; 
}

a:hover {
    color: #f6f6f6;
    background-color: transparent;
    text-decoration: none;
}

/* select city menu-----------------------------------*/

.input-boxes {
    margin-bottom: 15px;
}


/* radio buttons area-----------------------------------*/

#searchPlaces {
    width: fit-content;
    margin: auto;
}

/*map area------------------------------------------- */

#map {
    height: 100%;
    min-height: 415px;
    margin-top: 10px;
}

#map-area {
    width: auto;
}

/* results area------------------------------------------*/

#places {
    font-weight: bold;
}

#more {
    margin-bottom: 10px;
}
