html,
body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'PT Sans', sans-serif;
}


/*text area-----------------------------------------*/

.header-text {
        font-weight: bolder;

}

.intro-text {
        font-weight: lighter;
}



/* select city menu-----------------------------------*/

.input-boxes {
        margin-bottom: 15px;
}


/* radio buttons area-----------------------------------*/

#buttons-area {
    margin-bottom: 15px;
}



/*map area------------------------------------------- */

#map {
        height: 100%;
        min-height: 415px;
}

#map-area {
        width: auto;
}



/* result area ------------------------------------------*/

#results-heading {
    margin-top: 15px;
    margin-bottom: 10px;
}

#listing {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
    
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

 /*       .result-heading {
                margin-top: 15px;
        }
*/

        .reset-btn {
                margin-top: 15px;
        }

