html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
        height: 100%;
        
      }
      
 div#map {min-height: 360px;}   /*using because of trouble with rendering the map, from video lesson 4 Google maps*/


.header-text {
        font-weight: bolder;
        
}

.intro-text {
        font-weight: lighter;
}

.result-heading {
        margin-top:15px;
}

.go-btn {
        margin-bottom: 15px;
}

.clear-btn {
        margin-top:15px;
}

